{% extends 'base.html.twig' %}

{% block title %}Liste des élèves{% endblock %}

{% block body %}
    <h1>Liste des élèves</h1>

    <a href="{{ path('eleve_new') }}" class="btn btn-primary">Ajouter un élève</a>

    <div class="eleves-list">
        {% if eleve %}
            <ul>
                {% for eleve in eleve %}
                    <li>
                        <a href="{{ path('eleve_show', {'id': eleve.id}) }}">
                            {{ eleve.nom }} {{ eleve.prenom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun élève trouvé.</p>
        {% endif %}
    </div>
{% endblock %}