<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__logo">
                        <a style="width: 80px" href="#"><img src="img/14.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__social">
                        <a href="https://www.facebook.com/centredeformation2mille/?locale=fr_FR"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/WebDevCF2m2025"><i class="fa fa-github"></i></a>
                        <a href="https://fr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.cf2m.be/home"><i class="fa fa-link"></i></a>
                        <a href="https://www.youtube.com"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__option">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__option__item">
                        <h5>About us</h5>
                        <p>Calme, minutieux et précis, le Web Developer devra en outre être capable de transmettre au
                            client le savoir nécessaire à l'utilisation de l'administration de son site web.</p>
                        <a href="#" class="read__more">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>Qui somme nous ?</h5>
                        <ul>
                            <li><a href="#">Equipe</a></li>
                            <li><a href="#">Carrière</a></li>
                            <li><a href="#">Contactez nous</a></li>
                            <li><a href="#">Locations</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>Que faisons nous ?</h5>
                        <ul>
                            <li><a href="#">Nos formations</a></li>
                            <li><a href="#">Les réalisations</a></li>
                            <li><a href="#">Les stagiaires</a></li>
                            <li><a href="#">Actus du web</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__option__item">
                        <h5>Newsletter</h5>
                        <p>Vous avez des questions ?! Faites le nous savoir !.</p>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p class="footer__copyright__text">Copyright &copy;
                        <script>
                            window.addEventListener('DOMContentLoaded', function () {
                                const yearElement = document.getElementById('current-year');
                                if (yearElement) {
                                    yearElement.textContent = new Date().getFullYear();
                                }
                            });
                        </script>
                        <span id="current-year"></span>
{#                        <script>#}
{#                            document.write(new Date().getFullYear());#}
{#                        </script>#}
                        Tout droit réservé | Centre de formation 2 mille <i class="fa fa-heart-o" aria-hidden="true"></i>
                        by <a href="https://github.com/mageeeb" target="_blank">Magib Sall</a> En collaboration avec <a href="https://github.com/mikhawa" target="_blank">Mickael Plitz </a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>