<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="img/6.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>Bienvenue sur chez les DEV web, vous trouverez ...</span>
                            <h2> Le portfolio de nos stagiaires</h2>
                            <a href="#" class="primary-btn">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="img/9.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>Bienvenue sur le site des DEV web !</span>
                            <h2>La fiche de chaqu'un de nos stagiaire</h2>
                            <a href="#" class="primary-btn">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="img/10.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>Bienvenue sur le site des DEV web</span>
                            <h2>l'Actualité concernant le monde du web</h2>
                            <a href="#" class="primary-btn">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>