<!-- Team Section Begin -->
<section class="team spad text-center set-bg" data-setbg="img/team-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title team__title p-4" data-setbg="img/team-title.jpg">
                    <span>Enchanté de vous rencontrer</span>
                    <h2 class="mb-4 text-light">Voici l'équipe </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item set-bg" data-setbg="img/team/me.png">
                    <div class="team__item__text">
                        <h4>Magib Sall</h4>
                        <p>Fondateur & Formateur Web</p>
                        <div class="team__item__social">
                            <a href="#"><i class="fab fa-js"></i> <!-- JavaScript Icon --></a>
{#                            <a href="#"><i class="fab fa-php"></i> <!-- PHP Icon --></a>#}
                            <a href="#"><i class="fab fa-linux"></i> <!-- Python Icon --></a>
                            <a href="#"><i class="fab fa-git"></i> <!-- HTML5 Icon --></a>
                            <a href="#"><i class="fab fa-docker"></i> <!-- Docker Icon --></a>
{#                            <a href="#"><i class="fas fa-sync-alt"></i> <!-- AJAX Icon --></a>#}
                            <a href="#"><i class="devicon-bootstrap-plain"></i> <!-- Bootstrap Icon --></a>
                            <a href="#"><i class="devicon-symfony-original"></i> <!-- Symfony Icon --></a>
                            <a href="#"><i class="devicon-react-original"></i> <!-- React Icon --></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--second set-bg" data-setbg="img/team/mika.png">
                    <div class="team__item__text">
                        <h4>Mickael plitz</h4>
                        <p>Formateur Web</p>
                        <div class="team__item__social">
                            <a href="#"><i class="fab fa-git"></i> <!-- HTML5 Icon --></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fab fa-php"></i> <!-- PHP Icon --></a>
                            <a href="#"><i class="devicon-symfony-original"></i> <!-- Symfony Icon --></a>
                            <a href="#"><i class="devicon-tailwindcss-plain"></i> <!-- Tailwind CSS Icon --></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--third set-bg" data-setbg="img/team/19.jpeg">
                    <div class="team__item__text">
                        <h4>Nounage Johnson</h4>
                        <p>Formateur Web</p>
                        <div class="team__item__social">
                            <a href="#"><i class="fab fa-html5"></i>` <!-- React Icon --></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--four set-bg" data-setbg="img/team/10.jpeg">
                    <div class="team__item__text">
                        <h4>PIERRE SANDRON</h4>
                        <p>Formateur web</p>
                        <div class="team__item__social">
                            <a href="#"><i class="fab fa-html5"></i>` <!-- React Icon --></a>
                            <a href="#"><i class="fab fa-css3"></i>` <!-- React Icon --></a>
                            <a href="#"><i class="fab fa-js"></i> <!-- JavaScript Icon --></a>
                            <a href="#"><i class="fab fa-wordpress"></i>` <!-- React Icon --></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 p-0">
                <div class="team__btn">
                    <a href="#" class="primary-btn">En Savoir plus sur l'équipe</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->