{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="img/6.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text text-center">
                                <span>Bienvenue sur chez les DEV web, vous trouverez ...</span>
                                <h2> Le portfolio de nos stagiaires</h2>
                                <a href="#" class="primary-btn">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="img/home/1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text text-center">
                                <span>Bienvenue sur le site des DEV web !</span>
                                <h2>La fiche de chaqu'un de nos stagiaire</h2>
                                <a href="#" class="primary-btn">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="img/home/2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text text-center">
                                <span>Bienvenue sur le site des DEV web</span>
                                <h2>l'Actualité concernant le monde du web</h2>
                                <a href="#" class="primary-btn">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <div class="breadcrumb-option spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12 text-center">#}
{#                    <div class="breadcrumb__text">#}
{#                        <h2>A propos</h2>#}
{#                        <div class="breadcrumb__links">#}
{#                            <a href="#">Home</a>#}
{#                            <span>A propos</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="services__title text-center">
                        <div class="section-title">
                            <span>Nos services</span>
                            <h2 class="text-light">Quels sont les news ?</h2>
                        </div>
                        <p>Un développeur web est un professionnel spécialisé dans la création et la maintenance de sites
                            et applications web. Il conçoit, développe et optimise des solutions en ligne en utilisant
                            des langages de programmation tels que HTML, CSS, JavaScript, et divers frameworks ou bibliothèques</p>
                        <a href="#" class="primary-btn">En savoir plus</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/12.png" alt="">
                                </div>
                                <h4>DEV Front-End</h4>
                                <p>Le front-end désigne la partie visible d'un site ou d'une application web, avec laquelle
                                    les utilisateurs interagissent directement. Les développeurs front-end utilisent des
                                    technologies, ainsi que des frameworks pour concevoir
                                    des interfaces utilisateur (UI) intuitives, réactives et esthétiques. </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/11.png" alt="">
                                </div>
                                <h4>DEV Back-End</h4>
                                <p>Le back-end concerne la partie "cachée" qui gère la logique métier, les bases de
                                    données, et la communication avec le serveur.  Ils assurent le bon fonctionnement du
                                    serveur, la sécurité des données, et l'intégration avec les systèmes externes.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/10.png" alt="">
                                </div>
                                <h4>DEV Full Stack</h4>
                                <p>Un développeur full-stack maîtrise à la fois le front-end et le back-end. Il est
                                    capable de gérer toutes les étapes du développement d'une application web, de la
                                    conception de l'interface utilisateur à la gestion des bases de données et des serveurs,
                                    en passant par l'implémentation de la logique métier.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/13.png" alt="">
                                </div>
                                <h4>Globale</h4>
                                <p>Le métier de développeur consiste à concevoir, coder, tester et maintenir des
                                    applications ou sites web, des logiciels, et parfois même des systèmes embarqués.
                                    Ce professionnel transforme des besoins spécifiques en solutions fonctionnelles en utilisant divers langages de programmation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Work Section Begin -->
    <section class="work">
        <div class="work__gallery">
            <div class="grid-sizer"></div>
            <div class="work__item wide__item set-bg" data-setbg="img/work/work-1.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                            class="fa fa-play"></i></a>
                <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="img/work/work-2.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                            class="fa fa-play"></i></a>
            </div>
            <div class="work__item small__item set-bg" data-setbg="img/work/work-3.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                            class="fa fa-play"></i></a>
            </div>
            <div class="work__item large__item set-bg" data-setbg="img/work/work-4.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                            class="fa fa-play"></i></a>
                <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="img/work/work-5.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                            class="fa fa-play"></i></a>
            </div>
            <div class="work__item small__item set-bg" data-setbg="img/work/work-6.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                            class="fa fa-play"></i></a>
            </div>
            <div class="work__item wide__item set-bg" data-setbg="img/work/work-7.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                            class="fa fa-play"></i></a>
                <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Work Section End -->

    <!-- Counter Section Begin -->
    <section class="counter">
        <div class="container">
            <div class="counter__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-1.png" alt="">
                                <h2 class="counter_num">230</h2>
                                <p>Projects réaliser</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item second__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-2.png" alt="">
                                <h2 class="counter_num">1068</h2>
                                <p>Evolution stagiaire</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item third__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-3.png" alt="">
                                <h2 class="counter_num">130</h2>
                                <p>Programmes Annuel</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item four__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-4.png" alt="">
                                <h2 class="counter_num">30</h2>
                                <p>Autres</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto spad set-bg" data-setbg="img/home/4.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="callto__text text-center">
                        <h2>Le code, c'est comme l'humour ;si tu dois l'expliquer, c'est qu'il est mauvais.</h2>
                        <p>Cory House</p>
                        <a href="#">Voir notre portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->
{% endblock %}
